@charset "utf-8";

/************************************************************/
/*reset*/
*{margin:0;padding:0;cursor:default;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{padding:0;margin:0;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
ol,ul{list-style:none;}
/************************************************************/


/************************************************************/
.l{float:left;}
.r{float:right;}
.clear{clear:both;overflow:hidden;}
.center_align{margin-left:auto;margin-right:auto;}
.text_center{text-align:center;}
.text_left{text-align:left;}
.text_right{text-align:right;}
.text_b{font-weight:bold;}
.h5{height:5px;}
.h10{height:10px;}
.h15{height:15px;}
.h20{height:20px;}
.h25{height:25px;}
.h30{height:30px;}
.h35{height:35px;}
.h40{height:40px;}
.h45{height:45px;}
.h50{height:50px;}
/************************************************************/


/************************************************************/
html{}
body{
	color:black;
	background:#ffffff url(../images/bg.png) repeat-x;
	font-weight:normal;
	font-size:14px;
	/*浏览器滚动条必须呈现*/
	overflow-y:scroll;
	/*浏览器滚动条必须呈现*/
}
a:link, a:visited, a:active{color:#414141;text-decoration:none;cursor:pointer;}
a:hover{color:#414141;text-decoration:underline;}
a img{cursor:pointer;}
.maxwidth{width:1000px;}
/************************************************************/

.tab2{height:25px;line-height:25px;background:url(../images/kuang7_tab_bg.png);}
.tab2 div{float:left;width:108px;text-align:center;font-weight:bold;color:#ffffff;cursor:pointer;}
.tab2 div.cur{color:#e93706;background:url(../images/kuang7_tab_cur_bg.png);}
.tab2 a{color:white;text-decoration:none;}
.tab2 .cur a{color:#e93706;text-decoration:none;}

.topbg{width:100%;height:450px;position:absolute;left:0;top:0;min-width:1000px;}
.topbg .banner{width:100%;height:413px;background:url(../images/banner.png) top;}
.topbg .daohangbg{width:100%;height:37px;background:url(../images/daohang_bg.png) repeat-x;}

.bannerbody{margin:0 auto;width:1000px;height:413px;overflow:hidden;position:relative;}

.daohang{margin:0 auto;width:1000px;height:37px;line-height:37px;position:relative;text-align:center;}
.daohang a{font-size:16px;display:inline-block;width:156px;height:37px;margin-right:36px;text-align:center;font-weight:bold;color:#ffffff;}
.daohang a.cur,.daohang a:hover{background:url(../images/daohang_linkbg.png) no-repeat;color:#eb551e!important;text-decoration:none;}

.logo{width:250px;height:128px;overflow:hidden;background:url(../images/logo.png);position:relative;left:0px;top:0px;z-index:999;}

/*首页登录前DIV*/
.login{display:block;width:246px;height:270px;overflow:hidden;background:url(../images/login_bg.png);position:relative;left:750px;top:128px;z-index:999;}
/*首页登录前DIV*/
.login .formLogin{margin:0 auto;width:205px;}
.login .formLogin label{display:block;}
.login .formLogin strong{font:14px;color:#e93e0c;}
.login .formLogin .finput{margin-left:5px;margin-bottom:10px;padding:0 10px;width:130px;height:27px;background:url(../images/login_input_bg.png);border-width:0;}
.login .formLogin .fcheck{display:inline;margin-left:40px;font-size:12px;}
.login .formLogin .forget{margin-right:5px;font-size:12px;}
.login .formLogin .forget a{color:#ea4a17;}
.login .formLogin .but_login{width:100px;height:30px;background:url(../images/but_login.png);}
.login .formLogin .but_reg{width:100px;height:30px;background:url(../images/but_reg.png);}
.login .logininfo{text-align:center;color:black;}
.login .logininfo span{color:#e94f0c;font-weight:bold;}

/*首页登录后DIV*/
.logined{display:none;width:246px;height:270px;overflow:hidden;background:url(../images/logined_bg.png);position:relative;left:750px;top:128px;z-index:999;}
/*首页登录后DIV*/
.logined .userinfo{margin:0 auto;width:216px;}
.logined .userinfo .pics{padding:5px;width:58px;height:58px;overflow:hidden;background:#d4d4d4;}
.logined .userinfo .names{width:135px;font-size:12px;}
.logined .userinfo .names div{height:23px;line-height:23px;}
.logined .userinfo .names div span{color:#f7824f;}
.logined .userinfo .names div a{font-size:14px;color:black;text-decoration:underline;}
.logined .userserverinfo{margin:0 auto;width:216px;}
.logined .userserverinfo .tab_head{height:25px;line-height:25px;background:url(../images/logined_tab_bg.png);}
.logined .userserverinfo .tab_head div{float:left;width:50%;text-align:center;font-weight:bold;color:#ffffff;cursor:pointer;}
.logined .userserverinfo .tab_head div.cur{color:#e93706;background:url(../images/logined_tab_cur_bg.png);}
.logined .userserverinfo .tab_body{height:80px;line-height:24px;font-size:12px;color:black;}
.logined .userserverinfo .tab_body a{color:black;}
.logined .userserverinfo .tab_body div.cur{display:block;}



.pagebody{margin:0 auto;width:1000px;position:relative;}
.pagemain{float:left;width:750px;}
.pageright{float:right;width:250px;}

.kuang1{width:245px;}
.kuang1 .title{height:44px;background:url(../images/kuang1_title_bg.png);}
.kuang1 .bottom{height:20px;background:url(../images/kuang1_bottom_bg.png);}
.kuang1 .list{height:260px;background:url(../images/kuang1_mid_bg.png) repeat-y;font-size:12px;}
.kuang1 .list ul{}
.kuang1 .list ul li{width:241px;height:23px;line-height:23px;text-align:center;margin: 0 2px;}
.kuang1 .list ul li:nth-child(even){background: #f3efe6;}
.kuang1 .list ul li .col1{float:left;width:55px;margin-left:5px;}
.kuang1 .list ul li .col2{float:left;width:50px;}
.kuang1 .list ul li .col3{float:left;width:80px;}
.kuang1 .list ul li .col3 a:hover{color:#FF6600;}
.kuang1 .list ul li .col4{float:left;width:45px;}
.kuang1 .list ul li .col4 .a1:hover{color:#FF6600;}


.kuang2{width:245px;}
.kuang2 .tab_head{height:30px;background:url(../images/kuang2_title_bg.png) bottom repeat-x;}
/*.kuang2 .tab_head div{float:left;width:50%;text-align:center;font-weight:bold;color:#ffffff;cursor:pointer;}*/
.kuang2 .tab_head div.t1{margin-left:30px;float:left;width:97px;height:24px;overflow:hidden;}
.kuang2 .tab_head div.t2{float:left;width:97px;height:24px;overflow:hidden;}
.kuang2 .tab_head div.cur{background:url(../images/t_cur.png);}
.kuang2 .tab_body{width:243px;height:344px;line-height:24px;font-size:12px;color:black;border:1px solid #edba96;background: #fff;border-radius: 0 0 3px 3px;}
.kuang2 .tab_body .top{height:14px;}
.kuang2 .tab_body .bottom{height:13px;}
.kuang2 .tab_body .mid{height:319px;}
.kuang2 .tab_body a{color:#414141;}
.kuang2 .tab_body div.cur{display:block;}
.kuang2 .newsitem{margin:0 auto;width:220px;height:28px;line-height:28px;overflow:hidden;border-bottom:1px dashed #c6c6c6;}
.kuang2 .newsitem a{padding-left:12px;background:url(../images/biao.png) left no-repeat;}
.kuang2 .newsitem a:hover{color:#FF6600;}

.kuang3{width:245px;}
.kuang3 .top{height:29px;background:url(../images/kuang3_title_bg.png);}
.kuang3 .bottom{height:51px;background:url(../images/kuang3_bottom_bg.png);}
.kuang3 .mid{height:138px;background:url(../images/kuang3_mid_bg.png);}

.kuang4{}
.kuang4 .top{width:740px;height:73px;background:url(../images/kuang4_top_bg.png);}
.kuang4 .bottom{width:740px;height:10px;background:url(../images/kuang4_bottom_bg.png);}
.kuang4 .mid{width:740px;background:url(../images/kuang4_mid_bg.png);}
.gitem{float:left;margin-left:16px;margin-bottom:16px;width:220px;height:109px;border:1px solid #e9e4da;background:#fbf8f0;border-radius: 5px;}
.gitem:hover{background: #ffffff; border-color: #ffc548;box-shadow: 3px 3px 8px -6px #000;}
.gitem .left{float:left;width:98px;position: relative;margin: 3px 0 0 3px;}
.gitem .left .pic{margin:0 auto;width:90px;height:90px;overflow:hidden;border:1px solid #e5e5e5;}
.gitem .left .title{width:90px;height:20px;line-height:20px;text-align:center;color:#fdb410;position: absolute; bottom: 0;left: 4px;background:url("../images/black_60.png");font-size: 12px;}
.gitem .left .title a{color:red;}
.gitem .right{float:right;width:110px;margin: 3px 3px 0 0;}
.gitem .right .type{height:20px;line-height:20px;font-size:12px;color:#787878;}
.gitem .right .state{height:20px;line-height:20px;font-size:12px;color:#787878;}
.gitem .gotogame{margin-left:4px;display:block;width:31px;height:31px;background:url(../images/but_09.png);color:#fff !important;font-size:12px;font-weight:bold;text-align:center;padding:8px 4px;}
.gitem .gotogame{text-decoration:none!important;}

.gameinfo{width:245px;height:324px;margin-right:-1px;overflow:hidden;background:#fbf8f0;border:1px solid #ccc;position: relative;z-index: 1;}
.gameinfo .kuang{}
.gameinfo .kuang .pic{position: absolute;z-index:1;margin:0 auto;left:4%;top:8px;border:1px solid #a4a4a4;
  -webkit-transform:scale(0.95,0.95);
  -moz-transform:scale(0.95,0.95);
  -ms-transform:scale(0.95,0.95);
  -o-transform:scale(0.95,0.95);
  transform:scale(0.95,0.95);
  overflow: hidden;}
.gameinfo .kuang .pic .tm-box{
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 53px;
  bottom: -53px;
  background: url("../images/black_60.png");
}
.gameinfo .kuang .title{position: absolute;top:155px;left:9px;color:#e94f0c;display:block;margin:0 auto;width:227px;height:29px;line-height:29px;overflow:hidden;font-size:16px;font-weight:bold;text-align:center;}
.gameinfo .kuang .buts{margin:0 auto;width:227px;overflow:hidden;}
.gameinfo .kuang .buts a{display: block;
  width: 65px;
  height: 20px;
  float:left;
  margin-left:8px;
  line-height: 20px;
  overflow: hidden;
  text-align: center;
  color: #ffffff;
  background-image: url("../images/but-65-20.gif");
  background-position: 0 0;
  border-radius: 3px;
  font-size: 12px;
  font-family: "宋体";
}
.gameinfo .kuang .buts a:hover{
  background-position: 0 -20px;
  text-decoration: none;
}
.gameinfo .kuang .infos{position: absolute;top:186px;left:9px;text-indent:25px;padding:10px;padding-top:0px;margin:0 auto;width:207px;height:80px;line-height:17px;overflow:hidden;font-size:12px;background:transparent;color:#414141;}
.gameinfo .kuang .ingame{position: absolute;left:78px;top:279px;display:block;text-align:center;}
.gameinfo .kuang .serverinfo{display:none;line-height:26px;text-align:center;color:#ffffff;width: 100%;font-size: 12px;}
.gameinfo .kuang .serverinfo span{color:#e94f0c;cursor: pointer;}

.gameinfo:hover{background:#fff;border-color: #ef7b3b;z-index: 2;}
.gameinfo:hover .pic{
  -webkit-animation:img 0.3s;
  -moz-animation:img 0.3s;
  -ms-animation:img 0.3s;
  -o-animation:img 0.3s;
  animation:img 0.3s;
  -webkit-transform:scale(1,1);
  -o-transform:scale(1,1);
  -ms-transform:scale(1,1);
  -moz-transform:scale(1,1);
  transform:scale(1,1);
}
.gameinfo:hover .kuang .pic .tm-box{
  bottom: 0;
  -webkit-transition:all ease-in 0.3s 0.3s;
  -ms-transition:all ease-in 0.3s 0.3s;
  -moz-transition:all ease-in 0.3s 0.3s;
  -o-transition:all ease-in 0.3s 0.3s;
  transition:all ease-in 0.3s 0.3s;
}
.gameinfo:hover .kuang{}
.gameinfo:hover .kuang .title{}
.gameinfo:hover .kuang .buts{display:block;}
.gameinfo:hover .kuang .infos{}
.gameinfo:hover .kuang .ingame{}
.gameinfo:hover .kuang .serverinfo{display:block;text-align:center;}
.gameinfo:hover .kuang .serverinfo a{color:#FF6600;}

.kuang_link{padding:5px 15px;border:1px solid #d1d1d1;}
.kuang_link .title{height:26px;line-height:26px;font-weight:bold;color:#ff7a02;border-bottom:2px solid #ff7a02;}
.kuang_link .links{line-height:28px;background:url(../images/links_bg.png);font-size:12px;color:#626262;}
.kuang_link .links a{color:#626262;}

.copyright{height:90px;text-align:center;font-size:12px;color:black;line-height:26px;position: relative;padding: 20px 0;}
.copyright .box{width: 1000px;display: inline-block;position: relative;}
.copyright .logo-bottom{width:150px;height: 53px;background:url("../images/logo-middle.png");position: absolute;left: 170px; }
.copyright p{margin-left: 150px;}
/*-------------------------------------------------------------------*/

.topbg2{width:100%;height:222px;position:absolute;left:0;top:0;min-width:1000px;}
.topbg2 .banner{width:100%;height:185px;background:url(../images/banner2.png) top;}
.topbg2 .daohangbg{width:100%;height:37px;background:url(../images/daohang_bg.png) repeat-x;}

/*------------------------2014-4-25----改动游戏列表页及领取礼包页-------------------------------*/
/*.kuang5{width:482px;height:435px;background:#434343;box-shadow: 10px 10px 0px #d9d9d9;}
.kuang5 .linklist1{margin:0 auto;width:450px;text-align:center;}
.kuang5 .linklist1 a{float:left;display:inline-block;width:148px;height:30px;line-height:30px;background:#fefefe;color:#696969;border:1px solid #e4d2c3;}
.kuang5 .linklist2{text-align:center;}
.kuang5 .linklist2 a{display:inline-block;width:107px;height:28px;line-height:28px;background:url(../images/kuang5_link2_bg.png);text-align:center;color:#ba3013;}
.kuang5 .linklist2 a:hover{text-decoration:none;}
.kuang5 .infos{margin:0 auto;width:450px;background:#fefefe;color:#333333;border:1px solid #d8bfa9;border-radius:5px;-moz-border-radius:5px;}
.kuang5 .infos .info{margin:1px;padding:0 10px;width:203px;float:left;height:34px;line-height:34px;background:#f0f0f0;}*/
.kuang5{width: 482px;padding-top:4px;height: 435px;background: url('../images/game-bg.jpg');box-shadow: 3px 3px 10px -4px #000;}
.kuang5 .linklist1{width: 457px;height: 58px;margin: 3px 0 0 23px;}
.kuang5 .linklist1 a{font-size: 12px;color:#fffef2; float: left;display:block;width: 132px;margin-left: 17px;margin-top:6px;height: 24px;line-height: 24px;}
.kuang5 .linklist2{text-align: center;}
.kuang5 .linklist2 a{margin-left:14px;width: 98px;height: 39px;display:block;float:left;background: url('../images/game-btn.png');}
.kuang5 .linklist2 a.btn-0{margin-left: 23px;}
.kuang5 .linklist2 a.btn-0{background-position: 0 0;}
.kuang5 .linklist2 a.btn-1{background-position: -98px 0;}
.kuang5 .linklist2 a.btn-2{background-position: -196px 0;}
.kuang5 .linklist2 a.btn-3{background-position: -294px 0;}
.kuang5 .linklist2 a.btn-0:hover{background-position: 0 -39px;}
.kuang5 .linklist2 a.btn-1:hover{background-position: -98px -39px;}
.kuang5 .linklist2 a.btn-2:hover{background-position: -196px -39px;}
.kuang5 .linklist2 a.btn-3:hover{background-position: -294px -39px;}
.kuang5 .infos{margin:5px auto 0;width: 449px;background: #38383a;color: #fffef2;border: 1px solid #150f0f;border-radius:5px;overflow: hidden;-moz-border-radius:5px;box-shadow: 3px 3px 10px -4px #000;}
.kuang5 .infos .info{/* margin:1px; */padding:0 10px;width: 204px;float:left;height:30px;/* border: 1px dashed #ccc; */line-height:30px;background: #38383a;}
.kuang5 .infos .info1{border: 0 1px 1px 0;border-right: 1px dotted #222021;border-bottom: 1px dotted #222021;}
.kuang5 .infos .info2{border-bottom: 1px dotted #222021;}
.kuang5 .infos .info3{border-right: 1px dotted #222021;}
.kuang5 .infos .info4{margin:0;}
#ImageButton1{background: none;margin-top: -3px;cursor: pointer;}

.kuang6{width:470px;}
.kuang6 .gg_title{margin:10px auto 0;width:290px;height:36px;line-height:36px;font-size:18px;font-weight:bold;text-align:center;color:#ff6600;background:#f0f0f0;}
/*====================进度条的改动开始=====================*/
.kuang6 .gg_content{color: #696969;font-size: 14px;height: 100px;line-height: 1.5;overflow: auto;padding:0 15px 10px 20px;
    scrollbar-arrow-color: #ccc;/*箭头颜色*/
    scrollbar-face-color:#e47519;/*轴面颜色*/
    scrollbar-3dlight-color: #fff;/*轴面左边角颜色*/
    scrollbar-highlight-color: #fec254;/*左立体边颜色*/
    scrollbar-shadow-color: #eb8d0a;/*右立体边颜色*/
    scrollbar-darkshadow-color: #fff;/*轴面右边角颜色*/
    scrollbar-track-color: #fff;/*轴轨道颜色*/

    }

/*====================进度条的改动结束=====================*/


/*====================游戏官网新闻=====================*/
.kuang6 .list{padding:15px 20px 15px;width:430px;height:232px;background:#f7f7f7;}
/*====================游戏官网新闻=====================*/
.kuang6 .list ul{margin:0;padding:0;}
.kuang6 .list ul li{height:32px;line-height:32px;font-size:12px;border-bottom:1px dotted #c6c6c6;}
.kuang6 .list ul li a{padding-left:15px;background:url(../images/biao.png) left no-repeat;}

.server-kuang7{margin:10px auto 0;padding:14px 0 0;width:971px;height:299px;overflow:hidden;background:url(../images/kuang7-bg_03.png);}
.server-kuang7 .tab_head{width:108px;height:280px;float:left;line-height:25px;}
.server-kuang7 .tab_head div{width:108px;height:70px;text-align:center;font-weight:bold;color:#ffffff;cursor:pointer;}
.server-kuang7 .tab_head .tab-1{background-position: 0 0}
.server-kuang7 .tab_head .tab-2{background-position: 0 -70px}
.server-kuang7 .tab_head .tab-3{background-position: 0 -140px}
.server-kuang7 .tab_head .tab-4{background-position: 0 -210px}
.server-kuang7 .tab_head div.cur{background-image:url(../images/tab-head-bg_03.gif);}
.server-kuang7 .tab_body{width: 863px;float: left;}
/*===========================客服中心的改动开始==============================*/
.server-kuang7 .tab_body .kf_nav{background: url("../images/kefu-bg_13.png");width: 717px; height: 210px;margin: 36px auto; position: relative;}
.server-kuang7 .tab_body .kf_nav a.btn{display: block;position: absolute;width: 117px;height: 29px;overflow: hidden;left: 532px;top: 150px;background: url("../images/kf-btn_25.png");}
.server-kuang7 .tab_body .kf_nav a.btn:hover{background-position:0 -29px;}
.server-kuang7 .cpb{color: #ffa501;}
/*===========================客服中心的改动结束==============================*/
.serverlist{margin:0 auto;padding:50px 50px;background: url("../images/serverlist-bg_13.png") no-repeat 35px 5px scroll;}
.serverlist ul{}
.serverlist ul li{
  position:relative;
  display: block;
  float: left;
  width: 132px;
  height: 26px;
  margin: 0 15px 10px 0;
  line-height: 26px;
  border: 1px solid #4d392c;
  background: #6a4f3d;
  font-size: 14px;
  transition:all 0.3s 0s;
}
.serverlist ul li a{width: 100%;height: 100%;display: block;}
.serverlist ul li:hover{background: #ce7d06;  border-color: #ee930e;  box-shadow: 0 0 12px -1px #ffd18f;transition:all 0.3s 0s;}
.serverlist ul li a:hover{text-decoration: none;}
.serverlist ul li a .name{margin-left:24px;text-align:left;color: #efefef;text-shadow: 1px 1px 2px #333;}
.serverlist ul li a .state{display: block;
  position: absolute;
  left: 8px;
  top: 7px;
  width: 9px;
  height: 13px;
  background-image: url("../images/spr_02.png");
}
.serverlist ul li a .state1{background-position: -34px -44px;}/**火爆**/
.serverlist ul li a .state2{background-position: -34px 0;}/**畅通**/
/*===========================游戏服务器状态(维护)==============================*/
.serverlist ul li a .state3{background-position: -34px -66px;}/**维护**/
/*===========================游戏服务器状态(维护)==============================*/
.serverlist ul li a .rec{
  display: block;
  position: absolute;
  width: 17px;
  height: 17px;
  right: 5px;
  top: 5px;
  background-image: url("../images/spr_02.png");
}
.serverlist ul li a .r2 {
  background-position: -17px -17px;
}
/*.infolist{margin:0 auto;width:830px;}*/
.infolist{margin:0 auto;padding:0px 50px;height: 230px;overflow: auto;}
.infolist ul{}
.infolist ul li{float: left;
  margin: 6px 18px;
  _margin: 6px 10px;
  width: 110px;
  height: 21px;
  line-height: 21px;
  font-size: 12px;
  color: #efefef;
  }
.infolist ul li a{display:block;width:100%;height:100%;color: #efefef;text-shadow: 1px 1px 2px #111;}
.infolist ul li a:hover{color: #ffa501;text-decoration: none;}

.gamepiclist{margin:0 40px;height:200px;overflow: hidden;position: relative;}
.gamepiclist ul{position: absolute;}
.gamepiclist ul li{float:left;margin:10px;_margin:8px;width:220px;height:180px;background:#cccccc;margin:10px 0 10px 10px;}
.gamepiclist ul li a{}

/*-------------------------------------------------------------------*/

.topbg3{width:100%;height:222px;position:absolute;left:0;top:0;min-width:1000px;}
.topbg3 .tbg{width:100%;height:160px;}
.topbg3 .banner{width:100%;height:450px;background:url(../images/banner3.png) top;}
.bodytop{margin:0 auto;width:1000px;height:128px;overflow:hidden;position:relative;}
.kuang8{margin:0 auto;width:285px;height:520px;overflow:hidden;background:url(../images/kuang8_bg.png) no-repeat;position:relative;}
.kuang8 .title{height:40px;line-height:40px;font-size:16px;font-weight:bold;text-align:center;color:#e93505;}
.kuang8 form{margin:0 auto;width:210px;}
.kuang8 form label{display:block;line-height:27px;}
.kuang8 form strong{float:left;font:14px;color:#e93e0c;}
.kuang8 form .finput{float:left;margin-left:5px;margin-bottom:10px;padding:0 10px;width:130px;height:27px;background:url(../images/login_input_bg.png);border-width:0;}
.kuang8 form .vcodeinput{margin-left:5px;margin-bottom:10px;padding:0 10px;width:70px;height:27px;background:url(../images/vcode_input_bg.png);border-width:0;}
.kuang8 form .fcheck{display:inline;margin-left:40px;font-size:12px;}
.kuang8 form .forget{margin-right:5px;font-size:12px;}
.kuang8 form .forget a{color:#ea4a17;}
.kuang8 form .but_login{width:100px;height:30px;background:url(../images/but_login.png);}
.kuang8 form .but_reg{width:100px;height:30px;background:url(../images/but_reg.png);}

.topbg4{width:100%;height:222px;position:absolute;left:0;top:0;min-width:1000px;}
.topbg4 .tbg{width:100%;height:160px;}
.topbg4 .banner{width:100%;height:450px;background:url(../images/banner4.png) top;}



.kuang9{float:left;width:242px;height:360px;overlow:hidden;background:transparent;}
.kuang9 .pic{margin:0 auto;margin-top:7px;width:225px;height:140px;border:1px solid #a4a4a4;}
.kuang9 .title{display:block;margin:0 auto;width:227px;height:29px;line-height:29px;overflow:hidden;font-size:16px;font-weight:bold;text-align:center;}
.kuang9 .infos{padding:10px;padding-top:0px;margin:0 auto;width:207px;height:70px;line-height:17px;overflow:hidden;font-size:12px;background:transparent;color:black;}
.kuang9 .gcard{display:block;text-align:center;}

.kuang10{margin:0 auto;width:285px;height:590px;overflow:hidden;background:url(../images/kuang8_bg_01.png);position:relative;}
.kuang10 .title{height:40px;line-height:40px;font-size:16px;font-weight:bold;text-align:center;color:#e93505;}
.kuang10 form{margin:0 auto;width:210px;}
.kuang10 form label{display:block;line-height:27px;}
.kuang10 form strong{float:left;font:14px;color:#e93e0c;}
.kuang10 form .finput{float:left;margin-left:5px;margin-bottom:10px;padding:0 10px;width:130px;height:27px;background:url(../images/login_input_bg.png);border-width:0;}
.kuang10 form .vcodeinput{margin-left:5px;margin-bottom:10px;padding:0 10px;width:70px;height:27px;background:url(../images/vcode_input_bg.png);border-width:0;}
.kuang10 form .fcheck{display:inline;margin-left:40px;font-size:12px;}
.kuang10 form .forget{margin-right:5px;font-size:12px;}
.kuang10 form .forget a{color:#ea4a17;}
.kuang10 form .but_login{width:100px;height:30px;background:url(../images/but_login.png);}
.kuang10 form .but_reg{width:100px;height:30px;background:url(../images/but_reg.png);}

.pagelist{line-height:18px;font-size:12px;text-align:center;}
.pagelist span{display:inline-block;padding:0 5px;border:1px solid #cccccc;color:#666666;}
.pagelist a{display:inline-block;padding:0 5px;border:1px solid #eeeeee;color:#036cb4;}
.pagelist a:hover{text-decoration:none;}
.pagelist input{width:50px;height:18px;line-height:18px;border:1px solid #cccccc;}


.kuang11{width:730px;}
.kuang11 .tab_head{height:31px;background:url(../images/kuang11_title_bg.png) bottom repeat-x;}

.kuang11 .tab_head div.t1{margin-left:30px;float:left;width:160px;height:25px;overflow:hidden;}
.kuang11 .tab_head div.t2{float:left;width:160px;height:25px;overflow:hidden;}
.kuang11 .tab_head div.cur{background:url(../images/t_cur2.png);}

.kuang11 .tab_body{height:525px;line-height:24px;font-size:12px;color:black;background:#ffffff;border:1px solid #f6c89d;}
.kuang11 .tab_body a{color:black;}
.kuang11 .tab_body div.cur{display:block;}
/*新闻详细页面（内容）A标签*/
.kuang11 .tab_body a:hover {
	color: #FF6600;
	text-decoration: underline;

}
.kuang11 .tab_body a {
	text-decoration: none;
	color: #333333;
	font-weight: normal;
		cursor:pointer;
}
.kuang11 .tab_body a span{
    	cursor:pointer;
    }
.kuang11 .tab_body a strong{
    cursor:pointer;
}
/*新闻详细页面（内容）A标签*/
.kuang11 .list{margin:0 auto;width:680px;min-height:410px;_height:410px;overflow:visible;}
/*
.kuang11 .list ul{}
.kuang11 .list ul li{height:33px;line-height:33px;border-bottom:1px dotted #cccccc;}
.kuang11 .list ul li a{padding-left:24px;background:url(../images/biao.png) left no-repeat;color:#313131;}
*/
/*=========================新闻公告（4372new_list）更改结束=============================*/
.kuang11 .list dl{}
.kuang11 .list dl dt{
    height: 35px;
    background: #FFF3E5;
    line-height: 35px;
}
.kuang11 .list dl span,.kuang11 .list dl a{
    color: #666666;
    text-align: center;
    display: inline-block;
}
.kuang11 .list dl a:hover{
    color: #FF6600;
    text-decoration: none;
}
.kuang11 .list dl dt span{
    color: #FF6600;
    font-weight:bold;
}
.kuang11 .list dl .lb{
    width: 100px;
}
.kuang11 .list dl .wz{
    width: 440px;
}
.kuang11 .list dl .rq{
    width: 140px;
}
.kuang11 .list dl dd{
    height:33px;line-height:33px;border-bottom:1px dotted #e3e3e3;background: #f6f6f6;
}
.kuang11 .list dl dd.even{
    background: #ffffff;
}
/*=========================更改结束=============================*/
.kuang12{margin:0 auto;padding:5px;width:450px;height:435px;overflow:hidden;background:url(../images/kuang12_bg.png);}
.kuang12 .title{height:34px;line-height:34px;background:url(../images/kuang12_title_bg.png);}
.kuang12 .title .text{width:170px;height:34px;background:url(../images/kuang12_title_text_bg.png);text-align:center;color:#e73505;font-size:12px;font-weight:bold;}
.kuang7 .tab_head div{float:left;width:108px;text-align:center;font-weight:bold;color:#ffffff;cursor:pointer;}
.kuang7 .tab_head div.cur{color:#e93706;background:url(../images/kuang7_tab_cur_bg.png);}
.kuang7 .tab_head a:hover{text-decoration:none;}
.kuang7 .tab_body{height:250px;line-height:24px;font-size:12px;color:black;}
.kuang7 .tab_body a{color:black;}
.kuang7 .tab_body div.cur{display:block;}

.ilist{margin:0 auto;width:980px;height:125px;position:relative;}
.ilist ul{}
.ilist ul li{float:left;margin:0 10px;}

.ilist2{margin:0 auto;width:980px;height:125px;position:relative;}
.ilist2 ul{margin-left:8px;}
.ilist2 ul li{float:left;margin:0px 10px;padding:10px 0;width:100px;height:105px;text-align:center;color:#ffffff;}
.ilist2 ul li a{color:block;font-weight:bold;font-size:12px;}
.ilist2 ul li a:hover{text-decoration:none;}
.ilist2 ul li.cur,.ilist2 ul li:hover{color:black;background:url(../images/ilist2_cur_bg.png);}
.ilist2 ul li.cur a,.ilist2 ul li:hover a{color:#ffffff;}

.banklist{}
.banklist ul{}
.banklist ul li{float:left;margin:5px 10px;width:160px;}
.banklist ul li input{float:left;margin-top:10px;margin-right:10px;line-height:20px;}
.banklist ul li img{border:1px solid #cccccc;}



/*
.pagebody3{margin:0 auto;width:980px;height:125px;position:relative;background:#f8824f;border-radius:5px 5px 0 0;}
.pagebody3 ul{margin-left:10px;}
.pagebody3 ul li{float:left;margin:0px 3px;padding:10px 0;width:100px;height:105px;text-align:center;color:#ffffff;}
.pagebody3 ul li a{color:#ffffff;font-weight:bold;}
.pagebody3 ul li a:hover{text-decoration:none;}
.pagebody3 ul li.cur,.pagebody3 ul li:hover{color:black;background:url(../images/iibg.png);}
.pagebody3 ul li.cur a,.pagebody3 ul li:hover a{color:black;}
*/








.pagebody2{margin:0 auto;width:980px;height:300px;position:relative;background:#f8824f;border-radius:0 0 5px 5px;}
.pagebody2 .info{margin:0 auto;padding-left:150px;width:200px;min-height:120px;line-height:2;font-weight:bold;color:black;}
.pagebody2 .info a{color:#912e2e;}
.pagebody2 .error{background:url(../images/error.png) left no-repeat;}

.pagebody3{margin:0 auto;width:980px;height:125px;position:relative;background:#f8824f;border-radius:5px 5px 0 0;}
.pagebody3 ul{margin-left:10px;}
.pagebody3 ul li{float:left;margin:0px 3px;padding:10px 0;width:100px;height:105px;text-align:center;color:#ffffff;}
.pagebody3 ul li a{color:#ffffff;font-weight:bold;}
.pagebody3 ul li a:hover{text-decoration:none;}
.pagebody3 ul li.cur,.pagebody3 ul li:hover{color:black;background:url(../images/iibg.png);}
.pagebody3 ul li.cur a,.pagebody3 ul li:hover a{color:black;}

a.link1{display:inline-block;width:112px;height:43px;line-height:43px;text-align:center;color:#737373!important;}
a.link1.cur{background:url(../images/link1_bg.png);color:white!important;text-decoration:none;}
a.link1:hover{text-decoration:none;}

.reg .tab_head{height:43px;line-height:43px;background-image:none;}
.reg .tab_head div{float:left;width:112px;height:43px;line-height:43px;background-image:none;color:#414141!important;}
.reg .tab_head div.cur{color:white!important;background:url(../images/link1_bg.png);}
.reg .tab_head div.cur a{color:white!important;text-decoration:none;}
.reg .tab_head span{float:right;}
.reg .tab_body{height:440px;}

a.link2{display:inline-block;width:140px;height:30px;line-height:30px;text-align:center;font-size:12px;font-weight:bold;color:#cd6600!important;}

.czform{color:#3a3a3a;}
.czform *{float:left;}
.ui-datepicker-trigger{margin:2px;cursor:pointer;}

.yhlist{min-height:330px;}
.yhlist ul{}
.yhlist ul li{height:30px;line-height:30px;border-bottom:1px dashed #cccccc;}
.yhlist ul li .head{color:#cc6500;font-weight:bold;}
.yhlist ul li .col1{float:left;width:145px;}
.yhlist ul li .col2{float:left;width:220px;}
.yhlist ul li .col3{float:left;width:100px;text-align:center;margin-right:80px;}
.yhlist ul li .col4{float:left;width:80px;text-align:center;}
.yhlist ul li .col5{float:left;width:80px;text-align:center;}

form .finput{margin-left:5px;margin-bottom:10px;padding:0 10px;width:130px;height:27px;background:url(../images/login_input_bg.png);border-width:0;}

.headlist{overflow-x:hidden;}
.headlist ul{}
.headlist ul li{float:left;margin-right:4px;margin-bottom:4px;width:120px;height:120px;}

.zlx{}
.zlx ul{}
.zlx ul li{height:40px;line-height:40px;font-size:12px;border-bottom:1px dashed #dedede;}
.zlx ul li.head{color:#ff9900;}
.zlx ul li .col1{float:left;width:38px;text-align:center;}
.zlx ul li .col2{float:left;width:125px;}
.zlx ul li .col3{float:left;width:300px;}
.zlx ul li .col4{float:left;width:100px;text-align:center;}
.zlx ul li .col5{float:left;width:150px;}


.leftlinks{}
.leftlinks .tab_head2{}
.leftlinks .tab_head2 div{display:block;margin-left:10px;margin-bottom:15px;padding-left:10px;width:143px;height:21px;line-height:21px;color:#323232;cursor:pointer;}
.leftlinks .tab_head2 div.cur,.leftlinks .tab_head2 div:hover{background:url(../images/leftlink_bg.png);color:white;text-decoration:none;}

.content{font-size:12px;line-height:1.8;color:#323232;}

.infolinks{margin:0 auto;width:127px;height:22px;line-height:22px;background:url(../images/info_bg.png);font-size:12px;text-align:center;}
.infolinks a{text-decoration:none;}

.gametop{height:37px;line-height:37px;background:url(../images/gametop_bg.png);}
.gameleft{float:left;width:185px;background:url(../images/gameleft_bg.png);}
.gamemain{float:right;background:black;color:#cccccc;}

.icon_01{padding-left:32px;background:url(../images/icon_01.gif) left no-repeat;color:black!important;}
.icon_01:hover{text-decoration:none;}
.icon_02{padding-left:32px;background:url(../images/icon_02.gif) left no-repeat;color:black!important;}
.icon_02:hover{text-decoration:none;}
.icon_03{padding-left:32px;background:url(../images/icon_03.gif) left no-repeat;color:black!important;}
.icon_03:hover{text-decoration:none;}
.icon_04{padding-left:32px;background:url(../images/icon_04.gif) left no-repeat;color:black!important;}
.icon_04:hover{text-decoration:none;}
.icon_05{padding-left:32px;background:url(../images/icon_05.gif) left no-repeat;color:black!important;}
.icon_05:hover{text-decoration:none;}
.icon_06{padding-left:32px;background:url(../images/icon_06.gif) left no-repeat;color:black!important;}
.icon_06:hover{text-decoration:none;}

a.linkhd{display:block;width:111px;height:22px;line-height:22px;background:url(../images/but_hd_bg.png);color:white!important;font-size:12px;font-weight:bold;text-align:center;}
a.linkhd:hover{text-decoration:none;}
a.link3{display:block;line-height:22px;font-size:12px;color:#df8400;}
a.linkbg2{display:block;width:109px;height:27px;line-height:27px;background:url(../images/but_bg2.png);color:#da532c!important;font-size:12px;font-weight:bold;text-align:center;}
a.linkbg2:hover{text-decoration:none;}

.split{width:31px;height:62px;background:url(../images/split.png);cursor:pointer;}
.split.show{background:url(../images/split2.png);}
.split.hide{background:url(../images/split.png);}





.tip{margin:0 auto;padding:0 10px;width:617px;height:28px;line-height:28px;background:url(../images/tip_bg.png);color:#454545;}


/*首页Logo*/
.logo{position: absolute;width: 250px;height: 128px;z-index: 999;left: 50%;top: -20px;margin-left: -500px;background:url(../images/logo.png) no-repeat;}
/*首页Logo*/



/*首页登录后帐户管理*/
.logingame{margin-left:40px;}
.left_la1{float:left; width:18px; height:16px;	background-image: url(../../images/leftlaimg.png);background-repeat: no-repeat;background-position:0px 0px; margin-left:25px; margin-top:6px;}
.left_la2{float:left; width:18px; height:16px;	background-image: url(../../images/leftlaimg.png);background-repeat: no-repeat;background-position:0px -16px; margin-left:7px;margin-top:6px;}
.left_la3{float:left; width:18px; height:16px;	background-image: url(../../images/leftlaimg.png);background-repeat: no-repeat;background-position:0px -33px; margin-left:25px;margin-top:6px;}
.left_la4{float:left; width:18px; height:16px;	background-image: url(../../images/leftlaimg.png);background-repeat: no-repeat;background-position:0px -49px; margin-left:7px;margin-top:6px;}

.login_kuaijie_a{float: left; width: 60px; height: 20px; margin-top: 4px;}
.login_kuaijie_a a{ color:#FFFFFF; text-decoration:none}
.login_kuaijie_a a:hover{ color:#CCCC33; text-decoration:none}
/*首页登录后帐户管理*/


/*css flickr style pagination游戏礼包分页*/
div.flickr {
	padding:0px;margin:0px; text-align:center; font-family:Verdana; font-size:12px;text-align:right;
}
div.flickr a {
	border-right: #dedfde 1px solid; padding-right: 6px; background-position: 50% bottom; border-top: #dedfde 1px solid; padding-left: 6px; padding-bottom: 2px; border-left: #dedfde 1px solid; color: #0061de; margin-right: 3px; padding-top: 2px; border-bottom: #dedfde 1px solid; text-decoration: none
}
div.flickr a:hover {
	border-right: #000 1px solid; border-top: #000 1px solid; background-image: none; border-left: #000 1px solid; color: #fff; border-bottom: #000 1px solid; background-color: #0061de
}
div.meneame a:active {
	border-right: #000 1px solid; border-top: #000 1px solid; background-image: none; border-left: #000 1px solid; color: #fff; border-bottom: #000 1px solid; background-color: #0061de
}
div.flickr span.current {
	padding-right: 6px; padding-left: 6px; font-weight: bold; padding-bottom: 2px; color: #ff0084; margin-right: 3px; padding-top: 2px
}
div.flickr span.disabled {
	padding-right: 6px; padding-left: 6px; padding-bottom: 2px; color: #adaaad; margin-right: 3px; padding-top: 2px
}
/*css flickr style pagination游戏礼包分页*/

/*游戏新闻页面（上一篇、下一篇）*/
.page p {
	font-weight: bold;
	color: #FF6600;
}
.page a {
	text-decoration: none;
	color: #333333;
	font-weight: normal;
}
.page a:hover {
	color: #FF6600;
	text-decoration: underline;
}
.page {
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #999999;
	padding-top: 10px;
}
/*游戏新闻页面（上一篇、下一篇）*/

/*用户中心（消息管理）（上一篇、下一篇）*/
.xiaoxi_con1{ width:727px; background-color:White; height:auto;border-bottom:1px dashed #bebebe; border-left:1px dashed #bebebe; border-right:1px dashed #bebebe; float:left; display:none;}
.xiaoxi_con11{ margin-left:10px; margin-right:10px;}
/*用户中心（消息管理）（上一篇、下一篇）*/

/*用户中心（密保设置)绑定成功说明*/
.user_anquan_sfz_shuoming {padding-left:50px; line-height:40px; color:#fe6700; font-size:15px; font-weight:bold}
/*用户中心（密保设置)绑定成功说明*/

/*用户中心（游戏设置)绑定成功说明*/
.user_anquan_sfz_input{ padding-top:30px; padding-left:30px;line-height:40px; font-size:15px}
.user_anquan_sfz_input a{ font-weight:bold;color:#FF6600}
/*用户中心（游戏设置)绑定成功说明*/

/*11月27日修改密码页面对齐表单*/
#mimaxiugai form label{
    width: 180px;
    text-align: right;
    display: inline-block;
    height: 27px;
    line-height: 27px;
    margin-bottom: 10px;
}
#mimaxiugai form div{
    vertical-align: middle;
}
#mimaxiugai form input{line-height: 27px;}
/*11月27日修改密码页面对齐表单*/


/*用户中心(消息管理（删除、全选 按钮）)所有按钮样式
===============================================*/
.tools_box{ border:1px solid #EDECFF; border-bottom:0px; }
	.tools_bar{ padding-left:5px; height:45px; background:url(../../admin/images/tools_bg.gif) left 0px repeat-x;overflow:hidden;}
	.tools_bar .search_box{ float:right; margin:10px 10px 0 0; }
	.tools_btn:link,.tools_btn:visited,.tools_btn:active{ color:#4d4d4d; }
	.tools_btn{ float:left; display:block; margin:3px 3px 0; padding:0 0 0 6px; height:39px; color:#4d4d4d; font:12px/1.5 arial,verdana; overflow:hidden;}
	.tools_btn:hover{ background:url(../../admin/images/tools_btn_bg.gif) no-repeat 0 0; }
	.tools_btn span{ display:block; padding:0 6px 0 0; background:none;}
	.tools_btn:hover span{ background:url(../../admin/images/tools_btn_bg.gif) no-repeat right -39px; }
	.tools_btn span b{ font-weight:normal; display:block; padding:22px 0 5px; line-height:15px; background:url(../../admin/images/tools_icon.gif) 50% -135px no-repeat; }
	.tools_btn span b.add{background-position:50% -295px}
	.tools_btn span b.all{background-position:50% -135px}
	.tools_btn span b.backup{background-position:50% -630px}
	.tools_btn span b.remove{background-position:50% -730px}
	.tools_btn span b.download{background-position:50% -780px}
	.tools_btn span b.refresh{background-position:50% -830px}
	.tools_btn span b.import{background-position:50% -215px}
	.tools_btn span b.export{background-position:50% -255px}
	.tools_btn span b.combine{background-position:50% -335px}
	.tools_btn span b.grade{background-position:50% -376px}
	.tools_btn span b.delete{background-position:50% -175px}
	.tools_btn span b.recover{background-position:50% -680px}
	.tools_btn span b.recycle{background-position:50% -415px}
	.tools_btn span b.filter{background-position:50% -880px}
	.tools_btn span b.common{background-position:50% -930px}
	.tools_btn span b.link{background-position:50% -980px}
	.tools_btn span b.send{background-position:50% -1030px}
	.tools_btn span b.stop{background-position:50% -1080px}
	.tools_btn span b.return{background-position:50% -1130px}
	.tools_btn span b.recharge{background-position:50% -1180px}
	/*所有按钮样式
===============================================*/

/*-----------12月2日修改充值记录页面----------------------*/

.kuang7 .tab_body ul li{display: inline-block;text-align: center;color: #3a3a3a;line-height: 22px;height: 22px;}
.kuang7 .tab_body .xfsj{width: 180px;}
.kuang7 .tab_body .xfje{width: 100px;}
.kuang7 .tab_body .xfdx{width: 160px;}
.kuang7 .tab_body .ddzt{width: 160px;}
.kuang7 .tab_body .czsj{width: 180px;}
.kuang7 .tab_body .ddh{width: 200px;}
.kuang7 .tab_body .czje{width: 160px;}
.kuang7 .tab_body .czdx{width: 180px;}
.kuang7 .tab_body .czfs{width: 100px;}

/*-----------12月2日修改充值记录页面----------------------*/



/*yxlb_show.aspx弹出浮层部分*/
#showno{display: none;}
#shade{position: fixed;z-index: 10; display: none; left: 0; top:0; width: 100%; height: 100%; background: #000; opacity: 0.6; filter:alpha(opacity=60);}
.pop-con{position: fixed;z-index: 11; background: #f8f7f4; box-shadow: 3px 3px 9px -7px #000; display: none;}
.pop-con .pop-hd{ border-bottom: 1px solid #d1d2d5; background: #ffffff; overflow: hidden; margin-bottom: 0;}
.pop-con .pop-hd h2{margin: 17px 0 6px 10px; padding-left: 14px; background: url("../images/arrow_12.png") 4px 50% no-repeat; font-size: 14px; color: #e2440c;font-weight: bold;}
.pop-con .pop-bd{ padding: 20px; color: #5e5e5e;}
.pop-con .close{position: absolute; width: 36px;height: 36px;top: 0px;right: 0px;background: url("../images/popclose.png") 12px 12px no-repeat;}
.pop-con .close:hover{background-position: -20px -20px;}
.con{ border-radius: 4px 4px 4px 4px; border: 1px solid #d6d6d6; background: #ffffff; margin-bottom: 10px; padding-bottom: 10px;}
/*yxlb_show.aspx弹出浮层部分*/

/*清除浮动*/
.clearfix:after{
    content:'.';
    height:0;
    visibility:hidden;
    display:block;
    clear:both;
}

@-webkit-keyframes img
{
  0%   {-webkit-transform:scale(0.95,0.95);}
  100%  {-webkit-transform:scale(1,1);}
}@-moz-keyframes img
 {
   0%   {-moz-transform:scale(0.95,0.95);}
   100%  {-moz-transform:scale(1,1);}
 }@-ms-keyframes img
  {
     0%   {-ms-transform:scale(0.95,0.95);}
     100%  {-ms-transform:scale(1,1);}
  }@-o-keyframes img
   {
     0%   {-o-transform:scale(0.95,0.95);}
     100%  {-o-transform:scale(1,1);}
   }
  @keyframes img
  {
    0%   {transform:scale(0.95,0.95);}
    100%  {transform:scale(1,1);}
  }
  
/*首页客服动画*/
  .cus-float{
    position: fixed;
    top: 55%;
    z-index: 4000;
    /*top: 194px;*/
  }
  .cus-float .cartoon{
    position: absolute;
    z-index: 1;
    width: 50px;
    height: 50px;
    left: 125px;
    top: -44px;
  }
  @-webkit-keyframes bubble
  {
    0%   {-webkit-transform:scale(0.1,0.1);}
    9%  {-webkit-transform:scale(1.2,1.2);}
    12%  {-webkit-transform:scale(1,1);}
    90% {opacity: 1}
    100% {opacity: 0;}
  }@-moz-keyframes bubble
  {
    0%   {-moz-transform:scale(0.1,0.1);}
    9%  {-moz-transform:scale(1.2,1.2);}
    12%  {-moz-transform:scale(1,1);}
    90% {opacity: 1}
    100% {opacity: 0;}
  }@-ms-keyframes bubble
  {
    0%   {-ms-transform:scale(0.1,0.1);}
    9%  {-ms-transform:scale(1.2,1.2);}
    12%  {-ms-transform:scale(1,1);}
    90% {opacity: 1}
    100% {opacity: 0;}
  }@-o-keyframes bubble
  {
    0%   {-o-transform:scale(0.1,0.1);}
    9%  {-o-transform:scale(1.2,1.2);}
    12%  {-o-transform:scale(1,1);}
    90% {opacity: 1}
    100% {opacity: 0;}
  }
  @keyframes bubble
  {
    0%   {transform:scale(0.1,0.1);}
    9%  {transform:scale(1.2,1.2);}
    12%  {transform:scale(1,1);}
    90% {opacity: 1}
    100% {opacity: 0;}
  }
  .cus-float .cartoon .bubble{
    position: absolute;
    z-index: 5000;
    width: 128px;
    height: 108px;
    top: -110px;
  }
  .cus-float .cartoon .bubble.normal{
    /*动画*/
    -webkit-animation:bubble 4.6s;
    -moz-animation:bubble 4.6s;
    -ms-animation:bubble 4.6s;
    -o-animation:bubble 4.6s;
    animation:bubble 4.6s;
  }
  .cus-float .cartoon .bubble-l{
    background: url("../images/bubble-l.png");
    left: -93px;
  }
  .cus-float .cartoon .bubble-r{
    background: url("../images/bubble-r.png");
    left: 16px;
  }
  .cus-float .cartoon .bubble p{margin:30px 18px auto 14px;line-height: 18px;text-indent: 25px;font-size: 12px;color: #ef7b3b;font-family: "微软雅黑";}
  .cus-float .cartoon .bubble-close{
    width: 14px;
    height: 14px;
    position: absolute;
    z-index: 9999;
    right: 2px;
    top: 6px;
    background-image: url("../images/bubble-close.gif");
    background-position: -14px 0;
    cursor: pointer;
  }
  .cus-float .cartoon .bubble-close:hover{
    background-position: 0 0;
  }
  .cus-float .content{
    overflow: hidden;
    box-shadow:4px 4px 16px -8px #000000;
    line-height: 1;
  }
  .cus-float .hd{
    position: relative;
    z-index: 2;
    width: 184px;
    height: 43px;
    background: #fda20d;
  }
  .cus-float .hd a{
    width: 184px;
    display: block;
  }
  .cus-float .hd:hover{
    background:#f3930b ;
  }
  .cus-float .bd{
    width: 182px;
    background: #fff;
    border-width:0px 1px 1px;
    border-color:#ccc;
    border-style: solid;
  }
  .cus-float .bd ul{
    font-family: "微软雅黑";
    font-size: 12px;
    color: #545454;
    margin: 0;

  }
  .cus-float .bd ul li{
    background: #fff;
    padding: 0 0 0 12px;
    line-height:26px;
    /*border-top: 1px dotted #ddd;*/
  }
  .cus-float .bd ul li:nth-child(even){
    background: #f3efe6;
  }
  .cus-float .panel{
    position: relative;
    width:43px;
    height:18px;
    background: #f3930b;
    line-height: 18px;
    color: #ffffff;
    font-size: 12px;
    cursor: pointer;
  }
  .cus-float .panel span{
    margin-left: 6px;
    margin-right: 3px;
    cursor: pointer;
  }
  .cus-float .panel b{
    cursor: pointer;
    -webkit-backface-visibility: hidden;
    position: absolute;
    right: 6px;
    top: 5px;
    width: 0;
    height: 0;
    border-width: 3px;
    border-style: solid;
    border-color:  transparent transparent #ffffff;
    font-size: 0;
    line-height: 0;
  }
  .cus-float .panel.panel-off b{
    -webkit-backface-visibility: hidden;
    -webkit-transition: -webkit-transform .2s ease-in;
    -moz-transition: -moz-transform .2s ease-in;
    -o-transition: -o-transform .2s ease-in;
    transition: transform .2s ease-in;
    -moz-transform: rotate(180deg);
    -moz-transform-origin: 50% 70%;
    -webkit-transform: rotate(180deg);
    -webkit-transform-origin: 50% 70%;
    -o-transform: rotate(180deg);
    -o-transform-origin: 50% 70%;
    transform: rotate(180deg);
    transform-origin: 50% 70%;
  }
/*首页客服动画*/